@using Archetypical.Software.SchemaRegistry.Shared.Enums
@model DiffModel;
@{

    ViewData["Title"] = $"{Model.SchemaId} - Diff -v{Model.Version} with -v{Model.PreviousVersion}";

}

@section Styles{

}

<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-black bg-rose-600 hover:bg-rose-500 focus:border-rose-700 active:bg-rose-700 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
    Processing
</button>
<div id="container" style="height:100%;"class="bg-white border border-grey shadow overflow-hidden sm:rounded-lg"></div>


@section Scripts{
    <script>
        var require = {
            paths: { vs: '/lib/monaco-editor/min/vs' }
        };
    </script>
    <script src="~/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="~/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script>
        @{
                    var lang = "json";
                    switch (Model.Format)
                    {
                        case Format.JsonSchema:
                        case Format.Avro:
                            lang = "json";
                            break;
                        case Format.XSD:
                            lang = "xml";
                            break;
                        case Format.ProtoV2:
                            break;
                        case Format.ProtoV3:
                            break;
                        case Format.WSDL:
                            break;
                        case Format.OpenApi:
                            break;

                        default:
                            throw new ArgumentOutOfRangeException();
                    }
                }
         var diff = null;
        var currentModel = null;
        var compareModel = null;

        function GetCurrent() {
            return fetch('@Url.Action("GetSchemaVersion", "Versions", new {groupId = Model.GroupId, schemaId = Model.SchemaId, versionnumber = Model.Version})')
                .then(data => {
                    data.text().then(contents => {
                    currentModel = monaco.editor.createModel(
                        contents,
                        '@lang'
                        );
                        console.log(currentModel);
                    });
                });
        }

        function GetPrevious() {
            return fetch('@Url.Action("GetSchemaVersion", "Versions", new {groupId = Model.GroupId, schemaId = Model.SchemaId, versionnumber = Model.PreviousVersion})')
                .then(data => {
                    data.text().then(contents => {
                        compareModel = monaco.editor.createModel(
                            contents,
                            '@lang'
                        );
                        console.log(compareModel);
                    });
                });
        }

        function BuildDiff() {

            console.log('fetching...')
            console.log(monaco);
            return Promise.all([GetCurrent(), GetPrevious()]).then(() => {

                console.log('rendering')

                setTimeout(() => {
                        diff = monaco.editor.createDiffEditor(
                            document.getElementById('container'),
                            {
                                ignoreTrimWhitespace:true
                            });
                        diff.setModel({
                            original: compareModel,
                            modified: currentModel
                        });
                    },
                    1000);
            });
        }

         setTimeout(BuildDiff, 400);
    </script>
}